<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @blog.titulo %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @blog.texto %>
</p>

<p>
  <strong>Texto2:</strong>
  <%= @blog.texto2 %>
</p>

<p>
  <strong>Texto3:</strong>
  <%= @blog.texto3 %>
</p>

<p>
  <strong>Texto4:</strong>
  <%= @blog.texto4 %>
</p>

<p>
  <strong>Texto5:</strong>
  <%= @blog.texto5 %>
</p>

<p>
  <strong>Texto6:</strong>
  <%= @blog.texto6 %>
</p>

<p>
  <strong>Texto7:</strong>
  <%= @blog.texto7 %>
</p>

<p>
  <strong>Texto8:</strong>
  <%= @blog.texto8 %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @blog.imagen %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
