<p id="notice"><%= notice %></p>

<p><%= cl_image_tag @ventum.photo, height: 800, width: 700, crop: :fill %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ventum.nombre %>
</p>

<p>
  <strong>Detalles:</strong>
  <%= @ventum.detalles %>
</p>


<%= link_to 'Back', venta_path %>
