<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ventum.nombre %>
</p>

<p>
  <strong>Detalles:</strong>
  <%= @ventum.detalles %>
</p>


<%= link_to 'Edit', edit_ventum_path(@ventum) %> |
<%= link_to 'Back', venta_path %>
