<p id="notice"><%= notice %></p>


<div class="container-fluid titulogaleria2">
<h1>Galeria</h1>
</hr>


<!-- <div class="container"> -->
  <!--   <h3 class="h3">shopping Demo-2 </h3> -->
    <div class="row">
  <% @galeria.each do |galeria| %>
        <div class="col-md-3">
            <div class="product-grid2">
                <div class="product-image2 zoomin shadow-sm p-3 mb-5 bg-white rounded border">
                    <a href="#"><%= cl_image_tag galeria.photo, height: 900, width: 800, crop: :fill %></a>
                </div>

                <div class="product-content">
                    <h3 class="title"><a href="#"><%= link_to galeria.nombre, galeria %></a></h3>
                    <span class="price"><%= galeria.detalles %></span>
                  </br>
                    <!--  <span class="price"><%= galeria.info %></span> -->
                </div>
            </div>
        </div>

   <% end %>
</div>
</div>
</div>


