<p id="notice"><%= notice %></p>


<div class="container showgallery img-responsive img-fluid">
  <div class="row">
     <div class="col-md-8 col-sm-4 responsive image img-fluid">
<p><%= cl_image_tag @galerium.photo, class: "img-responsive" %></p>
</div>

<div class="showgalleryinfo col-md-4 col-sm-8">

<p>
  <strong>Nombre:</strong>
  <%= @galerium.nombre %>
</p>

<p>
  <strong>Detalles:</strong>
  <%= @galerium.detalles %>
</p>

<p>
  <strong>Informacion:</strong>
  <%= @galerium.info %>
</p>



</div>
</div>
</div>


