<p id="notice"><%= notice %></p>

<p><%= cl_image_tag @galerium.photo, height: 800, width: 700, crop: :fill %></p>

<p>
  <strong>Nombre:</strong>
  <%= @galerium.nombre %>
</p>

<p>
  <strong>Detalles:</strong>
  <%= @galerium.detalles %>
</p>



<%= link_to 'Back', galeria_path %>




