<!--

<h1>Inboxes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Subject</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inboxes.each do |inbox| %>
      <tr>
        <td><%= inbox.name %></td>
        <td><%= inbox.email %></td>
        <td><%= inbox.subject %></td>
        <td><%= inbox.message %></td>
        <td><%= link_to 'Show', inbox %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inbox', new_inbox_path %>

 -->
