<p id="notice"><%= notice %></p>

<div class="container messagesent">

  <div class="enviadotitulo">
  <h1> Mensaje Enviado </h1>
</div>


<p>
  <strong>Name:</strong>
  <%= @inbox.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @inbox.email %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @inbox.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @inbox.message %>
</p>

</div>

